<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>北京</string>
		<key>id</key>
		<string>0101</string>
		<key>code</key>
		<string>BJS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海</string>
		<key>id</key>
		<string>0201</string>
		<key>code</key>
		<string>SHA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广州</string>
		<key>id</key>
		<string>2001</string>
		<key>code</key>
		<string>CAN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>深圳</string>
		<key>id</key>
		<string>2003</string>
		<key>code</key>
		<string>SZX</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天津</string>
		<key>id</key>
		<string>0301</string>
		<key>code</key>
		<string>TSN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>重庆</string>
		<key>id</key>
		<string>0401</string>
		<key>code</key>
		<string>CKG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>武汉</string>
		<key>id</key>
		<string>1801</string>
		<key>code</key>
		<string>WUH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>三亚</string>
		<key>id</key>
		<string>2201</string>
		<key>code</key>
		<string>SYX</string>
	</dict>
	<dict>
		<key>name</key>
		<string>成都</string>
		<key>id</key>
		<string>2301</string>
		<key>code</key>
		<string>SYX</string>
	</dict>
	<dict>
		<key>name</key>
		<string>昆明</string>
		<key>id</key>
		<string>2501</string>
		<key>code</key>
		<string>KMG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>西安</string>
		<key>id</key>
		<string>2701</string>
		<key>code</key>
		<string>SIA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杭州</string>
		<key>id</key>
		<string>1201</string>
		<key>code</key>
		<string>HGH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>苏州</string>
		<key>id</key>
		<string>1102</string>
		<key>code</key>
		<string>SZV</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大连</string>
		<key>id</key>
		<string>0801</string>
		<key>code</key>
		<string>DLC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>青岛</string>
		<key>id</key>
		<string>1601</string>
		<key>code</key>
		<string>TAO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>哈尔滨</string>
		<key>id</key>
		<string>1001</string>
		<key>code</key>
		<string>HRB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沈阳</string>
		<key>id</key>
		<string>0802</string>
		<key>code</key>
		<string>SHE</string>
	</dict>
</array>
</plist>
